{% extends "base.html" %}

{% block content %}

    <button type="button" class="btn btn-primary addCompany">Add Company</i></button>
    <div class="modal" id="companyPopup" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Add Company</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="">{% csrf_token %}
                    <div>  
                        <div id="alertdiv" class="alert alert-info" style="display:none;">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <p></p>
                        </div> 
                        <label><b>Name: </b></label>   
                        <input type="text" id="cname" placeholder="Enter company name" value=""><br>
                        
                        <label><b>Email: </b></label> 
                        <input type="text" id="cemail" placeholder="Enter email" value=""><br>
                        
                        <label><b>Mobile no: </b></label> 
                        <input type="number" id="cmobile" placeholder="Enter mobile number" alue=""><br>

                        <label><b>Address: </b></label>
                        <input type="text" id="caddress" placeholder="Enter address" value=""><br>
    
                        <label><b>Website: </b></label> 
                        <input type="text" id="cwebsite" placeholder="Enter website link" value="">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="addCompany">Submit</button>
                <button class="btn btn-primary" type="button" id="updateCompany" style="display:none;">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Address</th>
                <th>Website</th>
                <th>Action</th>
            </tr>          
        </thead>
        <tbody>
            {% if companies %}
            {% for company in companies %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td class="cname">{{ company.c_name }}</td>
                <td class="cemail">{{ company.email }}</td>
                <td class="cmobile">{{ company.mobile }}</td>
                <td class="caddress">{{ company.address }}</td>
                <td class="cwebsite">{{ company.website }}</td>
                <td>
                    <button type="button" class="btn btn-success" id="editCompany" data-id="{{company.id}}">Edit</button>
                    <button type="button" class="btn btn-danger" id="deleteCompany" data-id="{{company.id}}">Delete</button>
                </td>
            </tr>
            {% endfor %}
            {% else %}
                No companies
            {% endif %}
        </tbody>
    </table>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){ 
        $("body").on('click', '.addCompany', function(){
            $("#companyPopup").modal('show');
        });

        $("#addCompany").click(function(){
            cname = $("#cname").val();
            caddress = $("#caddress").val();
            cmobile = $("#cmobile").val();
            cemail = $("#cemail").val();
            cwebsite = $("#cwebsite").val();

            $.ajax({
                url: "{% url 'listcompany' %}",
                type: "POST",
                data: {
                    'cname': cname,
                    'caddress': caddress,
                    'cmobile': cmobile,
                    'cemail': cemail,
                    'cwebsite': cwebsite,
                },
                success: function(data, status, xhr){
                    if(data.success == "True")
                    {
                        $("#alertdiv").removeClass("alert-danger").addClass("alert-success")
                    }
                    else
                    {
                        $("#alertdiv").removeClass("alert-success").addClass("alert-danger")
                    }
                    $("#alertdiv p").html(data.msg)
                    $("#alertdiv").show();
                },
            });
        }); 

        $("body").on('click', '#editCompany', function(){
            id = $(this).attr('data-id');
            $.ajax({
                url: "{% url 'editcompany' %}",
                type: 'GET',
                data: {
                    'company_id' : id,
                },
                success: function(data, status, xhr){
                    $('#cname').val(data.c_name);
                    $('#cemail').val(data.email);
                    $('#cmobile').val(data.mobile);
                    $('#caddress').val(data.address);
                    $('#cwebsite').val(data.website);
                    $("#companyPopup").modal('show');
                    $(".modal-title").replaceWith("<h2>Edit Company</h2>");
                    $("#updateCompany").show();
                    $("#addCompany").hide();
                },
            });
        });

        $("#updateCompany").click(function(){
            c_name = $("#cname").val();
            c_email = $("#cemail").val();
            c_mobile = $("#cmobile").val();
            c_address = $("#caddress").val();
            c_website = $("#cwebsite").val();

            $.ajax({
                url: "{% url 'editcompany' %}",
                type: "POST",
                data: {
                    'company_id': id,
                    'cname': c_name,
                    'email': c_email,
                    'mobile': c_mobile,
                    'address': c_address,
                    'website': c_website,
                },
                success: function(data, status, xhr){
                    if(data.success == "True")
                    {
                        $("#alertdiv").removeClass("alert-danger").addClass("alert-success")
                    }
                    else
                    {
                        $("#alertdiv").removeClass("alert-success").addClass("alert-danger")
                    }
                    $("#alertdiv p").html(data.msg)
                    $("#alertdiv").show();
                }
            });
        });

        $("body").on('click', '#deleteCompany', function(){
            id = $(this).attr('data-id');
            $.ajax({
                url: "{% url 'deletecompany' %}",
                type: 'GET',
                data: {
                    'company_id' : id,
                },
                success: function(data, status, xhr){
                    if(data.success == "True")
                    {
                        location.reload();
                    }
                },
            });
        });
    });
</script>
{% endblock %}