{% extends "base.html" %}

{% block content %}
    {% if msg %}
    <div class="alert alert-info alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p>{{msg}}</p>
    </div>
    {% endif %}

    <button type="button" class="btn btn-primary addEmployee" >Add Employee</i></button>
    <div class="modal" id="employeePopup" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Add Employee</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" id="updateuser">{% csrf_token %}
                    <div id="alertdiv" class="alert alert-info" style="display:none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <p></p>
                    </div>
                    <div class="form-group row">  
                        <label class="col-sm-2 col-form-label">Name: </label> 
                            <div class="col-sm-8">  
                                <input type="text" placeholder= "Enter Name" id="ename" value=""><br> 
                            </div>  
                    </div>
                    <div class="form-group row">  
                        <label class="col-sm-2 col-form-label">Username: </label> 
                            <div class="col-sm-8">  
                                <input type="text" placeholder= "Enter Username" id="eusername" value=""><br>
                            </div>  
                    </div>
                    <div class="form-group row">  
                        <label class="col-sm-2 col-form-label">Email: </label>
                            <div class="col-sm-8">  
                                <input type="email" placeholder="Enter Email" id="eemail" value="">
                            </div>  
                    </div>
                    <div class="form-group row">  
                        <label class="col-sm-2 col-form-label">Gender: </label>
                            <div class="col-sm-8">  
                                <input type="radio" value="male" class="egender"> Male   
                                <input type="radio" value="female" class="egender"> Female  
                                <input type="radio" value="other" class="egender"> Other
                            </div>  
                    </div>
                    <div class="form-group row">  
                        <label class="col-sm-2 col-form-label">Hobby: </label>
                            <div class="col-sm-8">  
                                <input type="checkbox" value="reading" class="echk"> Reading
                                <input type="checkbox" value="travelling" class="echk"> Travelling
                                <input type="checkbox" value="sports" class="echk"> Sports
                            </div>  
                    </div>
                    <div class="form-group row">  
                        <label class="col-sm-2 col-form-label">Company: </label>
                            <div class="col-sm-8">  
                                <select class="ecompany" id="ecompany"> 
                                    {% for c in companies %}
                                        <option value="{{ c.id }}">{{ c.c_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>  
                    </div>
                    <div class="form-group row">  
                        <label id="lpassword" class="col-sm-2 col-form-label">Password: </label> 
                            <div class="col-sm-8">  
                                <input type="password" placeholder="Enter Password" id="epassword" value="">
                            </div>  
                    </div>  
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="addEmployee">Submit</button>
                <button class="btn btn-primary" type="button" id="updateEmployee" style="display:none;">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Hobby</th>
                <th>Company</th>
                <th>Action</th>
            </tr>          
        </thead>
        <tbody>
            {% if users %}
                {% with count=1  %}
                    {% for employee in users %}
                        {% if not employee.is_admin %}
                            <tr>
                                <td>{{ count }}</td>
                                <td>{{ employee.name }}</td>
                                <td>{{ employee.username }}</td>
                                <td>{{ employee.email }}</td>
                                <td>{{ employee.gender }}</td>
                                <td>{{ employee.hobby_list }}</td>
                                <td>{{ employee.company_id }}</td>
                                <td>
                                    <button type="button" class="btn btn-success" id="editEmployee" data-id="{{employee.id}}">Edit</button>
                                    <button type="button" class="btn btn-danger" id="deleteEmployee" data-id="{{employee.id}}">Delete</button>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endwith %}
            {% else %}
                No users
            {% endif %}
        </tbody>
    </table>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){ 
        $("body").on('click', '.addEmployee', function(){
            $("#employeePopup").modal('show');
        });

        $("#addEmployee").click(function(){
            name = $("#ename").val();
            username = $("#eusername").val();
            email = $("#eemail").val();
            gender = $("input[type='radio']:checked").val();
            hobby = [];
            $.each($("input[type='checkbox']:checked"), function(){
                hobby.push($(this).val());
            });
            company = $("#ecompany").val();
            password = $("#epassword").val();

            $.ajax({
                url: "{% url 'listemployee' %}",
                type: "POST",
                data: {
                    'name': name,
                    'username': username,
                    'email': email,
                    'gender': gender,
                    'hobby': hobby,
                    'company': company,
                    'password':password,
                },
                success: function(data, status, xhr){
                    if(data.success == "True")
                    {
                        $("#alertdiv").removeClass("alert-danger").addClass("alert-success")
                    }
                    else
                    {
                        $("#alertdiv").removeClass("alert-success").addClass("alert-danger")
                    }
                    $("#alertdiv p").html(data.msg)
                    $("#alertdiv").show();
                },
            });
        });

        $("body").on('click', '#editEmployee', function(){
            id = $(this).attr('data-id');
            $.ajax({
                url: "{% url 'editemployee' %}",
                type: 'GET',
                data: {
                    'user_id' : id,
                },
                success: function(data, status, xhr){
                    $('#ename').val(data.name);
                    $('#eusername').val(data.username);
                    $('#eemail').val(data.email);
                    $("input[type=radio][ value=" + data.gender + "]").prop('checked', true);
                    var hobbies = JSON.parse(data.hobby.replace(/'/g,'"'));
                    $.each(hobbies, function (index, value) {
                        $("input[type=checkbox][ value=" + value + "]").prop('checked', true);
                    });
                    $('#company').val(data.company);
                    $("#employeePopup").modal('show');
                    $(".modal-title").replaceWith("<h2>Edit Employee</h2>");
                    $("#lpassword").hide();
                    $("#epassword").hide();
                    $("#updateEmployee").show();
                    $("#addEmployee").hide();
                },
            });
        });

        $("#updateEmployee").click(function(){
            e_name = $("#ename").val();
            e_username = $("#eusername").val();
            e_email = $("#eemail").val();
            e_gender = $("input[type='radio']:checked").val();
            e_hobby = [];
            $.each($("input[type='checkbox']:checked"), function(){
                e_hobby.push($(this).val());
            });
            e_company = $("#ecompany").val();
            console.log(e_company);

            $.ajax({
                url: "{% url 'editemployee' %}",
                type: "POST",
                data: {
                    'user_id': id,
                    'name': e_name,
                    'username': e_username,
                    'email': e_email,
                    'gender': e_gender,
                    'hobby': e_hobby,
                    'company': e_company,
                },
                success: function(data, status, xhr){
                    if(data.success == "True")
                    {
                        $("#alertdiv").removeClass("alert-danger").addClass("alert-success")
                    }
                    else
                    {
                        $("#alertdiv").removeClass("alert-success").addClass("alert-danger")
                    }
                    $("#alertdiv p").html(data.msg)
                    $("#alertdiv").show();
                }
            });
        });

        $("body").on('click', '#deleteEmployee', function(){
            id = $(this).attr('data-id');
            var isconfirm = confirm('Are you sure you want to delete employee?');
            console.log(isconfirm);
            if(isconfirm)
            {
                $.ajax({
                    url: "{% url 'deleteemployee' %}",
                    type: 'GET',
                    data: {
                        'user_id' : id,
                    },
                    success: function(data, status, xhr){
                        if(data.success == "True")
                        {
                            location.reload();
                        }
                    },
                });
            }
        });
    }); 
</script>
{% endblock %}