{% extends "base.html" %}

{% block content %}
    {% if request.session.user_data.is_admin %}
        <h1>Welcome to admin</h1>
    {% else %}
        <h1>Welcome to {{ request.session.user_data.name }}</h1>
    {% endif %}

    <div class="modal" id="userPopup" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title">Edit Profile</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="" id="editProfile">{% csrf_token %}
                    <div> 
                        <div id="alertdiv" class="alert alert-info" style="display:none;">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <p></p>
                        </div> 
                        {% if request.session.user_data %}
                        <label><b>Name: </b></label>   
                        <input type="text" id="name" name="name" value="{{ user.name }}"><br>
                        
                        <label><b>Username: </b></label>
                        <input type="text" id="username" name="username" value="{{ user.username }}"><br>
    
                        <label><b>Email: </b></label> 
                        <input type="text" id="email" name="email" value="{{ user.email }}">  
    
                        <div>  
                            <label><b>Gender: </b></label>  
                            <input type="radio" value="male" id="gender" name="gender" {% if user.gender == "male" %} checked {% endif %}> Male   
                            <input type="radio" value="female" id="gender" name="gender" {% if user.gender == "female" %} checked {% endif %}> Female  
                            <input type="radio" value="other" id="gender" name="gender" {% if user.gender == "other" %} checked {% endif %}> Other  
                        </div> 
    
                        <div>
                            <label><b>Hobby: </b></label>
                            <input type="checkbox" value="reading" id="hobby" name="chk" {% if "reading" in user.hobby %} checked {% endif %}> Reading
                            <input type="checkbox" value="travelling" id="hobby" name="chk" {% if "travelling" in user.hobby  %} checked {% endif %}> Travelling
                            <input type="checkbox" value="sports" id="hobby" name="chk" {% if "sports" in user.hobby %} checked {% endif %}> Sports
                        </div>
                        {% endif %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="up_user">Update</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){ 
        $("body").on('click', '.editUser', function(){
            $("#userPopup").modal('show');
        });

        $("#up_user").click(function(){
            name = $("#name").val();
            username = $("#username").val();
            email = $("#email").val();
            gender = $("input[type='radio']:checked").val();
            hobby = [];
            $.each($("input[type='checkbox']:checked"), function(){
                hobby.push($(this).val());
            });

            $.ajax({
                url: "{% url 'edituser' user.id %}",
                type: "POST",
                data: {
                    'name': name,
                    'username': username,
                    'email': email,
                    'gender': gender,
                    'hobby': hobby,
                },
                success: function(data, status, xhr){
                    if(data.success == "True")
                    {
                        $("#alertdiv").removeClass("alert-danger").addClass("alert-success")
                    }
                    else
                    {
                        $("#alertdiv").removeClass("alert-success").addClass("alert-danger")
                    }
                    $("#alertdiv p").html(data.msg)
                    $("#alertdiv").show();
                }
            });
        });
    });
</script>
{% endblock %}