{% extends "base.html" %} 

{% block content %}
    <form id="userform" method="post">{% csrf_token %}  
    <div class="container">  
    <center><h1>User Registration Form</h1></center>  

    {% if msg %}
    <div class="alert alert-info alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p>{{msg}}</p>
    </div>
    {% endif %}

    <label><b>Name: </b></label><br>   
    <input type="text" placeholder= "Enter Name" name="name" size="15" required><br>

    <label><b>Username: </b></label><br>   
    <input type="text" placeholder= "Enter Username" name="username" size="15" required><br>

    <label><b>Email: </b></label><br>  
    <input type="text" placeholder="Enter Email" name="email" required>  

    <div>  
        <label><b>Gender: </b></label><br>  
        <input type="radio" value="male" name="gender" required> Male   
        <input type="radio" value="female" name="gender"> Female  
        <input type="radio" value="Other" name="gender"> Other   
    </div>

    <div>
        <label><b>Hobby: </b></label><br>
        <input type="checkbox" value="reading" name="chk"> Reading
        <input type="checkbox" value="travelling" name="chk"> Travelling
        <input type="checkbox" value="sports" name="chk"> Sports
    </div>

    <label><b>Password: </b></label><br> 
    <input type="password" placeholder="Enter Password" name="password" required><br>  

    <button type="submit" id="submit" class="registerbtn">Register</button> 
    </form> 
{% endblock %}  

